# Ignore system files
.DS_Store
Thumbs.db
*.log
# Ignore IDE and OS files
.vscode/
.idea/
*.swp
*.swo
*.bak
# Ignore Node.js dependencies
node_modules/
package-lock.json
# Ignore Git metadata
.git/
.gitignore
